
@media only screen and (max-width: 768px) {
    .ghost-window {
        background-color: #f4f4f4;
        z-index: 1;
        cursor: pointer;
    }

    .header-container {margin-top: 15%;}
    .header-container h1 { font-size: 1.2rem;}
     .points-box {
            width: 30%;
            border-radius: 5px;
            margin: 0 0 0 70%;
            padding: 4% 0;
        }
        .points-label { font-size: 1.2rem; }
        .points-value { font-size: 1.9rem;}

    .game-board {
        width: 390px;
        height: 350px;
        margin-top: 20%;
    }
        .triangle { top: 65px; left: 40px;}
        .game-board .g-opt1 {left: 0px;} /*paper*/
        .game-board .g-opt3 {left: 220px;} /*scic*/
        .game-board .g-opt2 {left: 115px; bottom: 10px;}  /*rock*/
        .game-option:hover { transform: scale(1.1);}

     .game-board-bonus {
        width: 390px;
        height: 520px;
    }
        .game-board-bonus .game-option {
            width: 120px;
            height: 120px;
            border-width: 8px;
        }
        .pentagon {
            width: 290px;
            display: block;
            position: absolute;
            top: 95px; left: 50px;
        }
        .game-board-bonus .g-opt3 {top: 40px; left: 140px;} /*scic*/
        .game-board-bonus .g-opt2 {bottom: 70px; left: 220px;} /*rock*/
        .game-board-bonus .g-opt4 {left: 65px; bottom: 70px;} /*lizard*/
        .game-board-bonus .g-opt5 {top: 155px; left: 10px;} /*spock*/
        .game-board-bonus .g-opt1 {left: 260px; top: 155px;} /*paper*/

    .game-result {
        grid-template-areas: 
            "div_a div_b"
            "div_c div_c";
        margin-top: 17%;
        column-gap: 15%;
        margin-top: 20%;
    }
        .result-box { flex-direction: column-reverse;}
        .result-box:nth-child(1) {grid-area: div_a;}
        .result-box:nth-child(2) {grid-area: div_c; flex-direction: column;}
        .result-box:nth-child(3) {grid-area: div_b;}
        .user-label { margin-top: 35px;}
        .stat-messg { 
            margin-top: 15%;
            font-size: 1.2rem 
        }
        .bnt-again {            
            padding: 5%;
            margin: 3% auto;
            font-size: .9rem;
        }
}