
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

@keyframes pulse {
    0%  { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}

@keyframes wins {
    0%, 100% { transform: scale(1); background-color: green;}
    50% { transform: scale(1.2);background-color: #f4f4f4;}
}

.win-circle {
   /* box-shadow: 0 0 2px 20px rgba(0,0,0,.1),
        0 0 2px 40px rgba(0,0,0,.2),
        0 0 2px 80px rgba(0,0,0,.1) !important;*/
    animation: wins .4s ease-in infinite;
}

.pulse-cicle {
    box-shadow: none !important;
    animation: pulse .4s ease-in infinite;
    background-color: #141539 !important;
}


*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid yellow;
}

body{
    position: relative;
    width: 100%;
    height: 98vh;
    background: radial-gradient(circle, #1f3756 50%, #141539);
    font-family: "Barlow Semi Condensed", sans-serif;
}

.ghost-window {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.4);
    z-index: 1;
    cursor: pointer;
}
    .rules {
        text-align: center;
        display: block;
        width: min(500px, 90%);
        padding: 3%;
        margin: 25vh auto;
        border-radius: 4px;
        background-color: #f4f4f4;
    }
    

.t-main {
    position: relative;
    display: block;
    width: min(1024px,95%);
    height: 100%;
    margin: auto auto;
}
    .header-container {
        display: grid;
        grid-template-columns: 20% 80%;
        width: min(800px,95%);
        border: 3px solid hsl(217, 16%, 45%);
        border-radius: 10px;
        padding: 15px;
        margin: 5% auto;
    }
        .header-container h1 {
            font-weight: 700;
            font-style: normal;
            font-size: 1.7rem;
            color: #f4f4f4;
        }
        .points-box {
            display: block;
            background: whitesmoke;
            width: 25%;
            border-radius: 10px;
            margin: 0 0 0 70%;
            padding: 2% 0;
        }
            .points-label,.points-value {
                text-align: center;
                width: 100%;
                display: block;
                font-weight: 700;
                font-style: normal;
                font-size: 1.4rem;
                color: blue;
            }
            .points-value  {
                color: hsl(229, 25%, 31%);
                font-size: 1.9rem;
            }
    
    .game-board-bonus {
        position: relative;
        display: block;
        width: 550px;
        height: 520px;
        margin: auto auto;
    }
        .pentagon {
            width: 290px;
            display: block;
            position: absolute;
            top: 80px; left: 130px;
        }
        .game-board-bonus .g-opt3 {top: 0px; left: 195px;} /*scic*/
        .game-board-bonus .g-opt2 {bottom: 60px; left: 295px;} /*rock*/
        .game-board-bonus .g-opt4 {left: 96px; bottom: 60px;} /*lizard*/
        .game-board-bonus .g-opt5 {top: 110px; left: 30px;} /*spock*/
        .game-board-bonus .g-opt1 {left: 370px; top: 110px;} /*paper*/

    .game-board {
        position: relative;
        display: block;
        width: 550px;
        height: 350px;
        margin: auto auto;
        margin-top: 4%;
    }
        .game-option {
            position: absolute;
            background-color: #152C4C;
            box-shadow: inset 1px 10px 10px rgba(0, 0, 0, 0.5);
            border: 17px solid #152c4c; 
            display: block;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 50%;
            background-color: #f4f4f4;
        }
        .triangle {
            width: 300px;
            display: block;
            position: absolute;
            top: 65px; left: 120px;
        }
        .game-board .g-opt1 {left: 90px;} /*paper*/
        .game-board .g-opt3 {left: 310px;} /*scic*/
        .game-board .g-opt2 {left: 198px; bottom: 10px;}  /*rock*/
        .game-option:hover { transform: scale(1.1);}
        
    .g-opt1 { border-color: #5671F3; background-image: url("../res/paper.svg");}
    .g-opt2 { border-color: #E44A66; background-image: url("../res/rock.svg");}
    .g-opt3 { border-color: #F0A523; background-image: url("../res/scissors.svg");}
    .g-opt4 { border-color: #895BE0; background-image: url("../res/lizard.svg");}
    .g-opt5 { border-color: #4DBED2; background-image:url("../res/spock.svg");}
     
    .game-result {
        grid-template-areas: "div_a div_b div_c";
        gap: 0px;
        justify-content: center;
        width: 100%;
        margin: auto auto;
        margin-top: 7%;
    }
        .game-result .game-option {position: inherit;}
        .result-box {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }
        
        .user-label {
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 700;
            font-style: normal;
            font-size: 1.6rem;
            color: #f4f4f4;
        }
       
        .stat-messg {
            text-align: center;
            font-size: 1.6rem;
            color: #f4f4f4;
        }
        .bnt-again {
            display: block;
            width: 60%;
            padding: 2% 5%;
            margin: 10px auto;
            font-weight: 700;
            font-style: normal;
            font-size: 1.1rem;
            border-radius: 4px;
            color: blue;
            cursor: pointer;
            border: 1px solid #f4f4f4;
        }
 
    .bnt-rules {
        position: absolute;
        bottom: 10%;
        right: 4%;
        display: block;
        background: transparent;
        border: 1.4px solid #f4f4f4;
        padding: 9px 4%;
        font-weight: 400;
        font-style: normal;
        font-size: .9rem;
        margin-top: 2%;
        margin-left: auto;
        cursor: pointer;
        color: #f4f4f4;

    }
        .bnt-rules:hover {
            background-color: #f4f4f4;
            color: blue;
        }