
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --max-pc: 90%;
    --max-px: 980px;
}



body { height: 98vh;}

header {
    width: 100%;
    background-color: #2F2F2F;
}
    .header-box {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 5px;
        width: min(var(--max-px),var(--max-pc));
    }
        .header-box .h-logo { width: 170px;}
        .header-box .h-link { 
            flex-grow: 1;
            text-align: right;
        }
            .header-box .h-link a {
                font: 500 16px/1 Sans;
                color: #f4f4f4;
                margin: 0 1%;
                text-decoration: none;
                cursor: pointer;
            }
.sections {
    width: 100%;
    background-color: #f4f4f4;
    padding: 50px 0;
}  
    .banner-a {
        display: flex;
        width: min(var(--max-px),var(--max-pc));
        margin: 0 auto;
    }
        .banner-a-boxL { 
            width: 60%;
        }
            .banner-a-title { font: 600 20px/1 Sans;}
            .banner-a-descr {
                margin-top: 10px;
                width: 95%;
                font: 200 14px/1.2 Sans; 
                text-align: justify;
            }
            .banner-a-button {
                width: 150px;
                font: 600 13px/1.2 Sans; 
                padding: 14px;
                border-radius: 10px;
                border: .9px solid #000;
                background-color: #32934E;
                color: #fff;
                cursor: pointer;
                margin-top: 10%;
                box-shadow: 1px 2px 4px #919191;
            }
        .banner-a-boxR {
            width: 40%;
            border: 1px solid #000;
            cursor: pointer;
        }
    .banner-b {
        margin: 0 auto;
        width: min(var(--max-px),var(--max-pc));
    }
        .banner-b-title {
            font: 600 20px/1 Sans;
            margin: 10px 0;
        }
        .banner-b-grid3box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .grid3box-item {
                width: 30%;
            }
                .banner-b-grid3box img {
                    width: 100%;
                    border: 1px solid #000;
                    cursor: pointer;
                }
                .banner-b-grid3box h2 {
                    font: 600 16px/1 Sans;
                    margin: 5px 0;
                }
                .banner-b-grid3box p {
                    font: 200 13px/1.2 Sans;
                    text-align: justify;
                    padding: 10px 0;
                }
                .grid3button {
                    width: 130px;
                    font: 600 12px/1.2 Sans; 
                    padding: 10px;
                    border-radius: 10px;
                    border: .9px solid #000;
                    background-color: #32934E;
                    color: #fff;
                    cursor: pointer;
                    margin-top: 10px;
                    box-shadow: 1px 2px 4px #919191;
                }


/* renomear ou resolver depois */
.nobg-color {
    background-color: #fff;
    /* padding: 0 0; isso não devia esta aki */
}