
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

@keyframes pulse {
    0%  { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    position: relative;
    width: 100%;
    height: 98vh;
    background: radial-gradient(circle, #1f3756 50%, #141539);
    font-family: "Barlow Semi Condensed", sans-serif;
}

.ghost-window {
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.4);
    z-index: 1;
}
    
    .rules {
        top: 10%;
        margin: auto auto;
        position: relative;
        z-index: 2;
        background: #f4f4f4;
        display: block;
        width: 400px;
        padding: 1%;
    }
        .rules button {
            background: transparent;
            font-size: 2rem;
            font-family: monospace;
            border: none;
            outline: none;
            color: #c0c0c0;
            cursor: pointer;
            margin: 0 0 5% 94%;
        }
        .rules img {
            display: block;
            width: 90%;
            margin: auto auto;
        }

.t-main {
    position: relative;
    display: block;
    width: min(1024px,95%);
    height: 100%;
    margin: auto auto;
}
    .header-container {
        display: grid;
        grid-template-columns: 20% 80%;
        width: min(800px,95%);
        border: 3px solid hsl(217, 16%, 45%);
        border-radius: 10px;
        padding: 15px;
        margin: 5% auto;
    }
        .header-container h1 {
            font-weight: 700;
            font-style: normal;
            font-size: 1.7rem;
            color: #f4f4f4;
        }
        .points-box {
            display: block;
            background: whitesmoke;
            width: 25%;
            border-radius: 10px;
            margin: 0 0 0 70%;
            padding: 2% 0;
        }
            .points-label,.points-value {
                text-align: center;
                width: 100%;
                display: block;
                font-weight: 700;
                font-style: normal;
                font-size: 1.4rem;
                color: blue;
            }
            .points-value  {
                color: hsl(229, 25%, 31%);
                font-size: 1.9rem;
            }
    
    .game-board {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 350px;
        margin: auto auto;
        margin-top: 4%;
        background: url("../res/bg_triangle.svg") no-repeat 50% 55% / 35%;
    }
        .game-option {
            background-color: #152C4C;
            box-shadow: inset 1px 10px 10px rgba(0, 0, 0, 0.5);
            border: 17px solid #152c4c; 
            display: block;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            cursor: pointer;
        }
        
        .g-opt1 {
            border-color: #5671F3; 
            background:   #f4f4f4 url("../res/paper.svg") no-repeat 50% 50% / 50%;
        }
        
        .g-opt2 {
            border-color:#E44A66;
            background:  #f4f4f4 url("../res/rock.svg") no-repeat 50% 50% / 50%;
        }

        .g-opt3 { 
            border-color: #F0A523;
            background:   #f4f4f4 url("../res/scissors.svg") no-repeat 50% 50% / 50%;
        }
        .game-board .g-opt2 { align-self: flex-end;}
        .game-option:hover { transform: scale(1.1);}
     
        .chose_box_win {
             box-shadow: 0 0 2px 20px rgba(0,0,0,.3),
                         0 0 2px 40px rgba(0,0,0,.2),
                         0 0 2px 80px rgba(0,0,0,.1);
             animation: pulse 1.4s ease-in infinite;
        }
        .pulse_cicle {
            animation: pulse .4s ease-in infinite;
        }

    .game-result {
        display: flex;
        justify-content: center;
        gap: 90px;
        width: 100%;
        margin: auto auto;
        margin-top: 7%;
    }
        .game-result div:nth-child(2) { align-self: center;}
        .user-label,.hous-label {
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 700;
            font-style: normal;
            font-size: 1.6rem;
            color: #f4f4f4;
        }
       
        .stat-messg {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 700;
            font-style: normal;
            font-size: 1.6rem;
            color: #f4f4f4;
        }
        .bnt-again {
            display: block;
            width: 160px;
            background: #f4f4f4;
            border: 1.4px solid #f4f4f4;
            padding: 2%;
            margin-top: 10px;
            font-weight: 400;
            font-style: normal;
            font-size: 1rem;
            border-radius: 4px;
            color: blue;
            cursor: pointer;
        }

   
    .bnt-rules {
        position: absolute;
        bottom: 10%;
        right: 4%;
        display: block;
        background: transparent;
        border: 1.4px solid #f4f4f4;
        padding: 9px 4%;
        font-weight: 400;
        font-style: normal;
        font-size: .9rem;
        border-radius: 4px;
        color: #f4f4f4;
        margin-top: 2%;
        margin-left: auto;
        cursor: pointer;
    }
        .bnt-rules:hover {
            background-color: #f4f4f4;
            color: blue;
        }